.nav__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  transition: opacity .3s linear;
}

.nav__link:hover {
  opacity: .8;
}

@media screen and (max-width: 580px) {
  .nav__link {
    font-size: 24px;
    line-height: 1;
  }
}
