.cover__link {
  max-width: 1184px;
  min-height: 740px;
  background: url(../../../images/05_cover/background.jpg) center no-repeat;
  background-size: contain;
  margin: 0 auto 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1184px;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity .6s ease-in-out;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }

  .cover__link::before {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
    margin-bottom: 88px;
  }

  .cover__link::before {
    max-width: 768px;
  }
}

@media screen and (max-width: 580px) {
  .cover__link {
    max-width: 580px;
    min-height: 380px;
  }

  .cover__link::before {
    max-width: 580px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
    margin-bottom: 64px;
  }

  .cover__link::before {
    max-width: 320px;
  }
}
