.places__website {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: #fff;
  align-self: end;
  position: relative;
  transition: opacity .3s linear;
}

.places__website:hover {
  opacity: .8;
}

.places__website::before {
  content: 'URL';
  position: absolute;
  top: -22px;
  left: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 580px) {
  .places__website {
    padding: 0 0 0 24px;
  }

  .places__website::before {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places__website {
    padding: 0 0 0 16px;
  }

  .places__website::before {
    padding: 0 0 0 16px;
  }
}
